* {
    box-sizing: border-box;
}
body {
font-family: League Spartan;
min-height: 100%;
width: 100%;
}
.block-1 {
    display: flex;
    background: rgb(248, 248, 248);
    padding-bottom: 219px;
    margin-right: 0px;
    min-width: 1430px;
    height: 939px;
}
.block-1 .mar705 {
    margin-top: 100px;
    margin-left: 135px;
    font-size: 24px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}
.block-1 h1 {
    display: inline;
    margin-left: 133px;
    margin-top: 53px;
    font-size: 250px;
    font-weight: 300;
    line-height: 230px;
    letter-spacing: 0em;
    text-align: left;
    color: #272727;
    padding: 0px;
}
.block-1 .watch-main-desc {
    margin-left: 135px;
    margin-top: 43px;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    width: 575px;
    height: 142px;
    margin-bottom: 61px;
}
.buy-price {
    display: flex;
    width: 456px;
    height: 82px;
    margin-left: 135px;
}
.buy-button {
    display:inline-flex;
    width: 278px;
    height: 82px;
    background: rgb(22, 21, 21);
}
.buy-button a {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 300;
    line-height: 29px;
    text-align: left;
    padding: 26px 74px 35px 73px;
    text-decoration: none;
}
.price {
    box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
    background: rgb(255, 255, 255);
    width: 143px;
    height: 82px;
}
.price p {
    color: rgb(39, 39, 39);
    font-size: 32px;
    font-weight: 300;
    line-height: 186%;
    letter-spacing: 0%;
    text-align: center;
    margin: 13px 27px 31px 38px;    /*баг - облать цього параграфа більша ніж потрібна*/
}
.main-image {
    margin-left: 50px;
    padding-top: 4px;
}
.block-2 {
    margin-inline: auto;
    max-width: 532px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}                                                          /* це тест вирівнюванная по центру*/
.block-2 .p-32 {
    display: flex;
}
.block-2 p {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.block-2 .popular {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.block-2 .models {
    font-size: 72px;
    font-weight: 400;
    line-height: 81px;
    margin: auto;
    margin-bottom: 84px;
}
.image-watch-2 {
    display: flex;
    width: 417px;
    height: 630px;
    background: #F8F8F8;
    padding: 110px 60px 110px 71px;
    margin: auto;
}
.image-watch-2 img {
    max-width: 100%;
}
.block-2 .son22 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 67px;
}
.block-2 .son22-desc {
    color: rgb(22, 21, 21);
    font-size: 32px;
    font-weight: 300;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 85px;
}
.image-watch-3 {
    display: flex;
    width: 491px;
    height: 630x;
    background: #F8F8F8;
    padding: 65px 2px 65px 2px;
    margin: auto;
}
.block-2 .sw12 {
    font-family: League Spartan;
    font-size: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 67px;
    margin-bottom: 17px;
}
.block-2 .sw12-desc {
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
}
.sw12-desc-div {
    margin-inline: auto;
    max-width: 510px;
    margin-bottom: 89px;
}
.prod-desc-div {
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 58px;
    display: inline;
}
.prod-desc-div p {
    display: inline;
    position: relative;
}
.prod-desc::before {
    content: "";
    display: block;
    position: absolute;
    background: #707070;
    width: 33%;             /*на глазок (вибачте)*/
    height: 1px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.last-desc-div {
    display: inline;
    color: rgb(22, 21, 21);
    font-size: 24px;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 515px;
    margin: auto;
    margin-bottom: 142px;
}
.last-desc-div p {
    display: inline;
}
.last-desc-div p span{
    display: inline;
    position: relative;
    color: #BB8B5D;
    font-weight: 500;
}
.last-desc-div span::before {
    content: "";
    display: block;
    position: absolute;
    background: #BB8B5D;
    width: 100%;
    height: 1px;
    bottom: 3px;
    left: 0px;
}

@media screen and (max-width: 1240px) {
    .block-1 {
        height: 100%;
        min-width: 100%;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    .block-inside {
       width: 100% ;
       margin: auto;
       text-align: center;
    }
    .block-1 h1 {
        margin-left: 0px;
    }
    .block-1 .watch-main-desc {
        margin: auto;
    }
    .block-1 .mar705 {
        text-align: center;
        margin: 0;
    }
    .block-1 .buy-price {
       
        margin: auto;
        margin-top: 30px;
    }
}
@media screen and (max-width: 620px) {
.block-1 {
    box-sizing: border-box;
    min-width: 620px;

}
.block-inside .watch-main {

}
.block-inside .watch-main-desc {
 
}
.block-2 {
    box-sizing: border-box;
    min-width: 620px;

}
}